/* styles.css */
* {
    font-size: 12px; /* Adjust the size as needed */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal; /* Adjust the weight as needed (e.g., bold, bolder, etc.) */
}
body {
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.centered {
    text-align: center;
}

.links {
    display: flex;
    flex-direction: column;
    margin-left: 10px;    
}

a {
    display: block; /* Ensures the link takes up the full width */
            text-align: left;
            margin-left: 20px;
    margin-top: 10px;    
    margin-bottom: 10px;  
    font-kerning: 10px;  
    letter-spacing: 4px;
}



