/* styles.css */
* {
    font-size: 16px; /* Adjust the size as needed */
    font-weight: bold; /* Adjust the weight as needed (e.g., bold, bolder, etc.) */
}
header{
    height: 0;
}
body {
    margin: 0;
    overflow: hidden;
}
.line {
    position: absolute;
    width: 2px;
    height: 100vh;
}
h1 {
    font-size: 20pt;
    position: relative;
    display: flex;
    text-align: center;
    vertical-align: middle;
    color: #0c345c; /* Replace with the generated hex color */
}