/* styles.css */
body {
    margin: 0;
    overflow: hidden;
}
.line {
    position: absolute;
    width: 2px;
    height: 100vh;
}
.h1 {
    font-size: 20pt;
    font-weight: bold;
    color: #AABBCC; /* Replace with the generated hex color */
}