/* styles.css */
* {
    font-size: 12px; /* Adjust the size as needed */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal; /* Adjust the weight as needed (e.g., bold, bolder, etc.) */
}
header{
    height: 0;
}

p {
    position: fixed;
    top: 10px;
    right: 2%;
    color: #000; /* Replace with the generated hex color */
}
body {
    margin: 0;
    overflow: hidden;
    position: relative;
}
.dot {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: blueviolet;
    border-radius: 50%;
}
#counter {
    position: fixed;
    top: 40px;
    right: 2%;
    color: rgb(143, 143, 143);
}
